.trashcan  {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

input.pencil  {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

input.pencil2  {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

input.add  {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

img {
    width: 35px;
    height: 35px;
}

#cover {
    width: 160px;
    height: 210px;
    object-fit: cover;
    object-position: top;
}


.gametable {
    border: 1px solid #E0E0E0;
}

td {
    padding-left: 20px;
}

.gameimg {
    padding-left: 0px;
    vertical-align: top;
}

.gamepadding {
    padding-left: 20px;
}

.mygamebutton {
    margin: 0;
    position: absolute;
    left: 40%;
    top: 40%;
}

.bigcircle {
    border-radius: 50% !important;
    width: 400px !important;
    height: 400px !important;
    padding-bottom: 20px;
}